<template>
  <div class="tycoScorcher">
    <VueFullscreen id="fullscreen" v-model:fullscreen="fullscreened" :teleport="false" :page-only="false" @change="fullscreenChange" >
    <MotorSlider name="left" @speed="setMotorSpeed" :maxValue="1000000" />
    <div class="dashboard">
      <div class="subdash" style="width: 100%; height: 33%;">
        <Speedometer width="30%" height="100%" :value="leftMotorSpeed" name="left" :reverse="true" :max="1000000" :min="400000" />
        <div class="subdash" style="width: 40%; height: 100%;">
	  <div class="subdash" style="width: 100%; height: 60%;">
          <Gauge width="50%" height="100%" :max="100" :min="0" :value="latency" name="latency" :iconName="icons.latency" :iconSize="24" />
          <Gauge width="50%" height="100%" :max="5.7" :min="2.5" :value="battery" name="battery" :iconName="icons.battery" :iconSize="24" :reverseColors="true" />
          </div>
	  <div class="subdash" style="width: 100%; height: 40%;">
          </div>
        </div>
        <Speedometer width="30%" height="100%" :value="rightMotorSpeed" name="right" :max="1000000" :min="400000" />
      </div>
      <div class="subdash" style="width: 100%; height: 60%;">
	<div style="width: 10%; height: 100%;">
          <Lever :iconName="icons.fullscreen" leverSize="medium" :state="fullscreened" @toggle="setFullscreen" />
          <Lever :iconName="icons.wifi" leverSize="medium" :state="wsConnected" @toggle="setConnected" />
        </div>

        <div style="width: 10%; height: 100%;">
          <Lever :iconName="icons.video" leverSize="medium" :state="camera" @toggle="setCamera" />
        </div>
      </div>
      <div class="subdash" style="width: 100%; height: 4%;">
	<Debug />
      </div>
      <div style="width: 70%; height: 100%; position: absolute; z-index: -1">
        <Camera id="camera" :url="carConfig.cameraUrl" :state="camera" />
      </div>
    </div>
    <MotorSlider name="right" @speed="setMotorSpeed" :maxValue="1000000" />
    </VueFullscreen>
  </div>
</template>

<script>
// @ is an alias to /src
import MotorSlider from "@/components/MotorSlider.vue";
import Lever from "@/components/Lever.vue";
import Speedometer from "@/components/Speedometer.vue";
import Gauge from "@/components/Gauge.vue";
import Debug from "@/components/Debug.vue";
import Camera from "@/components/Camera.vue";
import { component as VueFullscreen } from 'vue-fullscreen';
import { mdiVideoWireless, mdiFullscreen, mdiBattery70, mdiHeartPulse, mdiWifi } from '@mdi/js';

export default {
  name: "TycoScorcher",
  components: {
    MotorSlider,
    Lever,
    Speedometer,
    Gauge,
    Debug,
    Camera,
    VueFullscreen,
  },
  data() {

    return {
      leftMotorSpeed: 0,
      rightMotorSpeed: 0,
      pingServerInterval: null,
      teleport: false,
      pageOnly: true,
      icons: {
	wifi: mdiWifi,
        latency: mdiHeartPulse,
        battery: mdiBattery70,
        fullscreen: mdiFullscreen,
        video: mdiVideoWireless,
      },
      carConfig: {
        brand: "tyco",
        model: "scorcher",
        //log_level: "debug",
        log_level: "info",
	//cameraUrl: "ws://192.168.0.191:8084",
	cameraUrl: "ws://" + document.location.host + ":8084",
        //wsUrl:  "ws://192.168.0.191:7770",
        wsUrl:  "ws://" + document.location.host + ":7770",
        config: {
	  sensors: [
	    {
	      name: "battery",
	      proto: "i2c",
              model: "ads1115",
	      addr: 0x48,
            },
	    {
	      name: "gyro",
	      proto: "i2c",
              model: "mpu6050",
	      addr: 0x68,
            },
	  ],
          leds: [
            {
              name: "state",
              pin_red: 22,
              pin_green: 17,
              pin_blue: 27,
            },
          ],
          motors: [
            {
              name: "left",
              pin_forward: 19,
              pin_backward: 26,
              pin_pwm: 13,
              pwm_freq: 30000,
            },
            {
              name: "right",
              pin_forward: 16,
              pin_backward: 18,
              pin_pwm: 12,
              pwm_freq: 30000,
            },
          ],
        },
      },
    };
  },
  computed: {
    fullscreened () {
      return this.$store.state.fullscreened
    },
    wsConnected () {
      return this.$store.state.wsConnected
    },
    battery () {
      return this.$store.state.wsBattery
    },
    latency() {
      return this.$store.state.wsLatency
    },
    camera() {
      return this.$store.state.camera
    }
  },
  mounted: function () {
    this.$nextTick(function () {
      this.$store.dispatch("SetConfig", {
        subject: "setup",
        data: this.carConfig,
      }),
      this.$store.dispatch("WSConnect");
      this.pingServer();
    });
  },
  methods: {
    setMotorSpeed(value) {
      let speed = value.speed;
      if (value.direction == "stop"){
        speed = 0;
      } else if (value.direction == "backward"){
        speed = - value.speed;
      }
      if (value.motor == "left") {
        this.leftMotorSpeed = speed;
      }
      if (value.motor == "right") {
        this.rightMotorSpeed = speed;
      }
      this.$store.dispatch("sendWSPayload", {
        subject: "motor",
        data: value,
      });
    },
    setConnected(value) {
      if ( value && ! this.$store.state.wsConnected ) {
        this.$store.dispatch("WSConnect");
      }
    },
    setCamera(value) {
      this.$store.commit("setCamera", value)
    },
    setFullscreen(value) {
      this.$store.commit("setFullscreen", value)
    },
    pingServer () {
       this.pingServerInterval = setInterval(() => {
         this.$store.dispatch("WSPing")
       }, 1000);
     }
  },
  beforeUnmount () {
    clearInterval(this.pingServerInterval)
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style >
.tycoScorcher {
  width: 100%;
  height: 100%;
}

.tycoScorcher > div#fullscreen {
  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}


.tycoScorcher .dashboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  height: 100%;
}

.subdash {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.fullscreen {
  background-color: white;
}
</style>
~
