<template>
  <div class="camera" ref="camera" >
    <svg-icon type="mdi" :path="icon" :size=128 :style="displayIcon"></svg-icon>
   <canvas id="videoCanvas" :style="displayCanvas" ></canvas>
  </div>
</template>

<script>
import SvgIcon from '@jamescoyle/vue-icon';
import { mdiVideoBoxOff } from '@mdi/js';
import jsmpeg from 'jsmpeg';

export default {
  name: "Camera",
  props: {
    state: {
      type: Boolean,
      default: false,
    },
    url: String
  },
  components: {
    SvgIcon
  },
  data () { 
    return {
      icon: mdiVideoBoxOff,
      player: new jsmpeg(),
      client: null,
      canvas: null,
    }
  },
  computed: {
    displayCanvas() {
      let ret = {"display": "none"}
      ret["max-height"] = "0px" 
      if (this.state) {
          ret = {"display": "block"} 
      }
      return ret
    },
    displayIcon() {
      let ret = {"display": "none"}
      if (!this.state) {
          ret = {"display": "block"} 
      }
      return ret
    },
    cameraUrl() {
	let ret = "#"
	if (this.state) {
		ret = this.url
	}
	return ret
    }
  },
  watch: {
    state(newValue){
      if (newValue) {
	this.client = new WebSocket(this.url)
	this.player = new jsmpeg(this.client, {canvas: this.canvas, autoplay: false,});
      } else {
	this.client.close();
        this.player.stop()
      }  
}
  },
  mounted: function () {
    this.$nextTick(function () {
        this.canvas = document.getElementById('videoCanvas')
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.camera {
  display: flex;
  justify-content: center; 
  height: 100%;
  width: 100%;
}

.camera > canvas {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  object-fit: contain;
  transform: rotate(180deg);
}

.camera > svg {
  height: 100%;
  width: 10%;
}

</style>
