<template>
  <div class="debug" >
    <div class="rawdata">
      <div class="icon type left">
        <svg-icon type="mdi" :path="icon.gyro" :size="size" ></svg-icon>
      </div>
      <div class="icon right">
        <svg-icon type="mdi" :path="icon.x" :size="size" ></svg-icon>
      </div>
      <div class="value left">  
        {{wsGyro.x.toFixed(2)}}
      </div>
      <div class="icon right">
        <svg-icon type="mdi" :path="icon.y" :size="size" ></svg-icon>
      </div>
      <div class="value left">
        {{wsGyro.y.toFixed(2)}}
      </div>
      <div class="icon right">
        <svg-icon type="mdi" :path="icon.z" :size="size" ></svg-icon>
      </div>
      <div class="value left">
        {{wsGyro.z.toFixed(2)}}
      </div>
    </div>
    <div class="rawdata">

      <div class="value right">
        {{wsAcc.z.toFixed(2)}}
      </div>
      <div class="icon left">
        <svg-icon type="mdi" :path="icon.z" :size="size" ></svg-icon>
      </div>
      <div class="value right">
        {{wsAcc.y.toFixed(2)}}
      </div>
      <div class="icon left">
        <svg-icon type="mdi" :path="icon.y" :size="size" ></svg-icon>
      </div>
      <div class="value right" >  
        {{wsAcc.x.toFixed(2)}}
      </div>
      <div class="icon left" >
        <svg-icon type="mdi" :path="icon.x" :size="size" ></svg-icon>
      </div>
      <div class="icon type">
        <svg-icon type="mdi" :path="icon.acc" :size="size" ></svg-icon>
      </div>

    </div>
  </div>
</template>

<script>
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiRotateOrbit, mdiAlphaXBox, mdiAlphaYBox, mdiAlphaZBox, mdiAxisArrow } from '@mdi/js';

export default {
  name: "Debug",
  props: {
    iconName: String,
    iconSize: Number,
    state: Boolean
  },
  components: {
    SvgIcon,
  },
  data() {
    return {
      size: 18,
      icon: {
        x: mdiAlphaXBox,
        y: mdiAlphaYBox,
        z: mdiAlphaZBox,
        gyro: mdiRotateOrbit,
        acc: mdiAxisArrow,
      }
    }
  },
  computed: {
    wsGyro () {
      return this.$store.state.wsGyro
    },
    wsAcc () {
      return this.$store.state.wsAcc
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.debug {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1em;
  color: black;
}

.debug .rawdata{
  display: table;
  width: 50%;
}

.debug .rawdata div {
  display: table-cell;
  vertical-align: middle;
}

.debug .rawdata .icon {
  width: 1em;
  height: 1em;
}

.debug .rawdata .type {
  text-align: center;
  padding: 0 0px;
}

.debug .rawdata .value {
  max-width: 1em;
}

.debug .rawdata .right { 
  text-align: right;
}
.debug .rawdata .left {
  text-align: left;
}


</style>
