<template>
  <div :class="leverClass" >
    <span
      class="toggle-wrapper"
      role="checkbox"
      :aria-checked="state.toString()"
      tabindex="0"
      @click="toggle"
      @keydown.space.prevent="toggle"
    >
      <span
        class="toggle-background"
        :class="backgroundStyles"
      >
      <div class="svg-icon">
    <svg-icon type="mdi" :path="iconName" :size="iconSize" class="lever-icon"></svg-icon>
      </div>
</span>
      <span
        class="toggle-indicator"
        :style="indicatorStyles" 
      >
</span>
    </span>
  </div>
</template>

<script>
import SvgIcon from '@jamescoyle/vue-icon'

export default {
  name: "Lever",
  props: {
    iconName: String,
    leverSize: {
      type: String,
      required: true,
      default: "medium",
      validator: function (value) {
        return ['medium', 'large', 'xlarge'].indexOf(value) !== -1
      }
    },
    iconAction: String,
    state:{
      type: Boolean,
      required: true
    }
  },
  components: {
    SvgIcon
  },
  computed: {
    leverClass () {
      return "lever lever-" + this.leverSize;
    },
    iconSize() {
      let size = 28;
      if (this.leverSize == "medium") {
        size = 28;
      }
      if (this.leverSize == "large") {
        size = 42;
      }
      if (this.leverSize == "xlarge") {
        size = 56;
      }
      return size
    },
    backgroundStyles() {
      return {
        'lever-enabled': this.state,
        'lever-disabled': !this.state,
      };
    },
    indicatorStyles() {
      let ret = { transform: this.state ? 'translateY(-58px)' : 'translateY(0px)' };
      if (this.leverSize == "medium") {
        ret = { transform: this.state ? 'translateY(-58px)' : 'translateY(0px)' };
      }
      if (this.leverSize == "large") {
        ret = { transform: this.state ? 'translateY(-87px)' : 'translateY(0px)' };
      }
      if (this.leverSize == "xlarge") {
        ret = { transform: this.state ? 'translateY(-116px)' : 'translateY(0px)' };
      }
      return ret
    }
  },
  methods: {
    toggle() {
      this.$emit('toggle', !this.state);
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.lever {
  padding: 10% 0;
}

.lever-enabled {
  background-color: #57c443;
}

.lever-disabled {
  background-color: #d5385a;
}

.toggle-wrapper {
  display: inline-block;
  position: relative;
  cursor: pointer;
  border-radius: 9999px;
}

.toggle-wrapper:focus {
  outline: 0;
}

.toggle-background {
  display: inline-block;
  height: 100%;
  width: 100%;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color .4s ease;
}

.toggle-indicator {
  position: absolute;
  background-color: #ffffff;
  box-shadow:  0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform .4s ease;
}

.lever-medium .svg-icon {
  margin-top: 20px;
}

.lever-medium .toggle-wrapper {
  width: 40px;
  height: 80px;
}

.lever-medium .toggle-background {
  border-radius: 10px;
}

.lever-medium .toggle-indicator {
  height: 14px;
  width: 34px;
  border-radius: 10px;
  left: 3px;
  bottom: 4px;
}

.lever-large .svg-icon {
  margin-top: 30px;
}

.lever-large .toggle-wrapper {
  width: 60px;
  height: 120px;
}

.lever-large .toggle-background {
  border-radius: 15px;
}

.lever-large .toggle-indicator {
  height: 21px;
  width: 52px;
  border-radius: 15px;
  left: 4px;
  bottom: 6px;
}

.lever-xlarge .svg-icon {
  margin-top: 40px;
}

.lever-xlarge .toggle-wrapper {
  width: 80px;
  height: 160px;
}

.lever-xlarge .toggle-background {
  border-radius: 20px;
}

.lever-xlarge .toggle-indicator {
  height: 28px;
  width: 68px;
  border-radius: 20px;
  left: 6px;
  bottom: 8px;
}



</style>
