<template>
  <div
    class="motor_slider"
    :id="slideID"
    @touchstart="touch"
    @touchmove="touch"
    @touchend="touchStop"
  ></div>
</template>

<script>
export default {
  name: "MotorSlider",
  props: {
    name: String,
    wsClient: Object,
    msg: String,
    maxValue: Number,
  },
  computed: {
     slideID () {
        return "motor_" + this.name
    }
  },
  methods: {
    touch(evt) {
      evt.preventDefault();
      let touchEvt = null;
      if (evt.changedTouches) {
        for (var i=0; i < evt.changedTouches.length; i++) {
          if (evt.changedTouches[i].target.id == this.slideID) {
            touchEvt = evt.changedTouches[i]
          }
        }
      } else {
         touchEvt = evt
      }
      if (touchEvt == null) {
        return
      }

      let rawSpeed = touchEvt.clientY;
      const borderAjustment = 25;
      // Handle Screen borders
      rawSpeed = rawSpeed - borderAjustment
      const height = Math.max(
        document.documentElement.clientHeight || 0,
        window.innerHeight || 0
      ) - borderAjustment;
      let speed = (height / 2 - rawSpeed) / (height / 2);
      speed = Math.max(speed, -1);
      speed = Math.min(speed, 1);
      let direction = "forward";
      if (speed < 0) {
        direction = "backward";
      }
      speed = 1.2 - (2.5 / (10 * Math.abs(speed) + 2.5))
      speed = Math.round(Math.abs(speed) * this.maxValue);
      const data = {
          motor: this.name,
          direction: direction,
          speed: speed,
          raw: touchEvt.clientY,
      }
      this.$emit('speed', data);
    },
    touchStop: function (evt) {
      evt.preventDefault();
      const data = {
          motor: this.name,
          direction: "stop",
          speed: 0,
      }
      this.$emit('speed', data);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.motor_slider {
  background-image: linear-gradient(red, yellow, white, yellow, red);
  width: 15%;
  height: 100%;
  outline: 2px solid black;
  outline-offset: -2px;
}
</style>
