<template>
  <div class="speedometer-component" :style="computedStyle" >
    <div :class="backwardClass">R</div>
    <div :id="gaugeId" :style="gaugeStyle" class="speedometer-container" >
    </div>
  </div>
</template>

<script>
import Gauge from "svg-gauge";

export default {
  name: "Speedometer",
  props: {
    name: {
      type: String,
      required: true
    },
    gaugeSize: String,
    value: {
      type: Number,
      default: 0
    },
    width: {
      type: String,
      default: "10%"
    },
    height: {
      type: String,
      default: "10%"
    },
    max: {
      type: Number,
      default: 255
    },
    min: {
      type: Number,
      default: 0
    },
    reverse: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      gauge: null,
      backwardClass: "backward",
      gaugeColors: [
	[0.1, '#009a60'],
	[0.2, '#4aa84e'],
	[0.3, '#92b73a'],
	[0.4, '#c6bf22'],
	[0.5, '#edbd02'],
	[0.6, '#ffad00'],
	[0.7, '#ff8c00'],
	[0.8, '#fc6114'],
	[0.9, '#f43021'],
	[1.0, '#ed0022']
      ],
    }
  },
  computed: {
    gaugeBlockStepSize() {
      return this.max / 7
    },
    gaugeId() {
      return "speedometer_" + this.name
    },
    computedStyle() {
      return { width: this.width, height: this.height }
    },
    gaugeStyle() {
      let ret = {}
      if (this.reverse) {
          ret = {"-webkit-transform": "scaleX(-1)",
		 "transform": "scaleX(-1)"}
      }
      return ret
    }
  },
  watch: {
    value(newValue) {
      if (newValue < 0) {
	this.backwardClass = "backward show"
        newValue = - newValue
      } else {
	this.backwardClass = "backward"
      }
      this.gauge.setValue(newValue);
    }
  },
  mounted: function () {
    this.$nextTick(function () {
      this.gauge = Gauge(document.getElementById(this.gaugeId), {
	max: this.max,
        min: this.min,
	dialStartAngle: 360,
	dialEndAngle: 180,
 	showValue: false,
	value: this.value,
	color: this.setGaugeColor,
	})
    });
  },
  methods: {
    setGaugeColor(value) {
      const percentValue = value / this.max
      for (var i=0; i < this.gaugeColors.length; i++) {
        if (percentValue <= this.gaugeColors[i][0]) {
	  return this.gaugeColors[i][1]
	}
      }
      return this.gaugeColors[0][1]
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style >
.speedometer-component {
  width: 100%;
  height: 100%;
}

/* ------ Default Style ---------- */
.speedometer-container {
  width: 100%;
  height: 100%;
  position: relative;
  top: -50%;
}

.speedometer-container > .gauge .dial {
  stroke: #334455;
  fill: rgba(0,0,0,0);
  stroke: #334455;
  stroke-width: 20;
}

.speedometer-container > .gauge .value {
  stroke: rgb(47, 227, 255);
  fill: rgba(0,0,0,0);
  stroke-dasharray: 25 1;
  stroke-width: 20;
}

.speedometer-container > svg {
  width: 100%;
  height: 100%;
}

.speedometer-container > svg .value-text {
  color: #F32450;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 150%;
  position: absolute;
  display: inline-block;
  fill: rgb(47, 227, 255);
  display: inline-block;
}

.speedometer-component .backward {
  color: #F32450;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 150%;
  position: relative;
  display: none;
  height: 0;
  width: 100%;
  top: 5%;
  /*-ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
}

.speedometer-component .backward.show {
  display: block;
}

</style>
